# Environment variables
.env

# Python
.python-version
.venv/
__pycache__/
*.pyc
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv

# upload
uploaded_files/
python/cli_summary_output.html

# Output files
*.md